*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    color:$font-color;
    font-weight: bold;
    letter-spacing:2px;
    @include mq(768px)
    {
        font-size: 22px;
    }
}

body
{
    background-color: $default-background-color;
    min-height: 100vh;
    padding: 0.5rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
main
{
    margin-top: 50%;
    margin-bottom: 50%;
}

#content-wrapper
{
    max-width: 90%;
    margin:auto;
}

h1
{
    text-align:center;
    padding-bottom: 30px;
}